@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-decoration: none;
}

body {
  width: 100%;
  height: auto;
  background: #efefef;
  font-family: 'Poppins', sans-serif;
}

.container {
  background: #fff;
  height: 750px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 0 30px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  color: #6070ff;
  font-weight: 700;
}

.menu {
  display: none;
}

.link_list {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin: 0 20px;
}

nav {
  right: 30px;
  position: absolute;
}

.bar {
  width: 25px;
  height: 3px;
  border-radius: 1px;
  margin: 3px 0;
  background: #6070ff;
}

#back_image {
  background-image: url("/Images/bottom.jpg.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.heading {
  margin-top: 10rem;
  font-size: 40px;
  font-weight: 700;
  margin-left: 22px;
  color: #172b4d;
}

.heading span {
  display: block;
}

.bio {
  margin-left: 22px;
  width: 327px;
  font-weight: 400;
  color: #172b4d;
}

.links {
  margin: 10px 22px;
}

.links h3 a {
  margin: 5px 0;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.links ul li {
  display: inline-block;
}

.about_one ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
}

.about_one p {
  background: transparent;
  padding: 4px;
  margin: 10px 0 0 34px;
  color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  width: 9rem;
  display: flex;
  justify-content: center;
}

.about_one h3 {
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: rgba(57, 109, 242, 1);
  font-size: 14px;
}

.links i {
  margin: 10px 5px 0 0;
  color: #505f79;
}

.Project {
  width: 100%;
  height: auto;
  margin-top: 114px;
  display: flex;
  justify-content: center;
}

.project_one {
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #def1e6;
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project_two {
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #def1e6;
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project_two img {
  width: 295px;
  height: 190px;
  border-radius: 8px;
}

.project_one img {
  width: 295px;
  height: 190px;
  border-radius: 8px;
}

.name_des {
  margin: 10px 0;
}

.nam {
  color: #172b4d;
  font-weight: 699;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
}

.list {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  width: 8px;
  height: 8px;
  margin-bottom: 3px;
}

.round {
  font-size: 40px;
  align-content: center;
}

.mic {
  color: #000;
}

.title_des {
  width: 295px;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.skill_tab {
  display: inline-block;
  margin: 15px 0 15px 5px;
  font-size: 13px;
  font-weight: 500;
  color: #6070ff;
  background: #ebebff;
  padding: 5px 8px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}

.bttn {
  font-size: 17px;
  font-weight: 500;
  width: 100px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  border: 1px solid #396df2;
  border-radius: 8px;
  margin-top: 10px;
}

.bttn:hover {
  background: #6070ff;
  color: #fff;
}

.bttn:active {
  background: #2230d2;
  color: #fff;
}

.green {
  color: #396df2;
}

.green:hover {
  color: #fff;
}

.about {
  width: 100%;
  margin-top: 114px;
  height: auto;
  padding: 10px 0 150px 0;
  border-top-right-radius: 100px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.about_one {
  margin: 100px 0 20px 0;
}

.about_text {
  font-weight: 700;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  margin: 0 20px;
}

.about_intro {
  font-weight: 400;
  font-size: 16px;
  margin: 0 20px;
  font-family: 'Poppins', sans-serif;
  color: #344563;
}

.links_two {
  margin: 10px 20px;
}

.link_to {
  margin: 10px 5px 0 0;
  color: #505f79;
  display: inline-block;
}

.let {
  margin: 5px 0;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.extra i {
  color: #7f8cff;
}

.link_to i {
  margin: 10px 5px 0 0;
  color: #505f79;
}

.button {
  font-size: 17px;
  font-weight: 500;
  width: 150px;
  margin: 20px 20px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  border: 1px solid #396df2;
  border-radius: 8px;
  margin-top: 10px;
}

.languages_skill {
  margin: 0 20px;
}

.language_text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.skill_bars {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.skill_bar {
  background: #f7f7f9;
  width: 95%;
  height: 50px;
  padding: 10px;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
}

.skill_text {
  line-height: 50px;
  margin: 0 0 0 20px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.works {
  margin-top: 40px;
  width: 100%;
  height: auto;
}

.work_skill {
  background: transparent;
  flex-direction: row;
  border-bottom: 1px solid #dfe1e6;
  border-radius: 0;
  width: 109%;
  height: auto;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  margin-right: 14rem;
}

.work_skill h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.work_skill img {
  right: 0;
  width: 30px;
  margin-right: 30px;
}

.full_form {
  background: #6070ff;
  height: 700px;
  display: flex;
  padding: 0 30px;
  margin-top: -100px;
  justify-content: center;
  border-top-left-radius: 100px;
}

form {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 90px;
}

.bottom_image {
  background-image: "Images/bottom_im.png";
  background-position: right;
  background-repeat: no-repeat;
  height: auto;
  position: absolute;
}

.contact_full {
  text-align: center;
}

.contact_me {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: #fff;
  text-align: center;
  margin-top: 80px;
  font-weight: 700;
}

.last_par {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 0 10px 0 0;
}

#input {
  padding: 10px 12px;
  width: 80%;
  outline: none;
  border: none;
  background: #fff;
  margin: 10px 0;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

#textpanel {
  width: 80%;
  padding: 10px 12px;
  outline: none;
  border: none;
  background: #fff;
  margin: 10px 0;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.submit {
  padding: 12px 16px;
  color: #6070ff;
  background: #fff;
  width: 150px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  outline: none;
  border: 1px solid #7f8cff;
  cursor: pointer;
}

.submit:hover {
  background: #6070ff;
  color: #fff;
}

.submit:active {
  background: #2230d2;
}

@media screen and (min-width: 768px) {
  header {
    padding: 0 0;
    justify-content: space-between;
    position: fixed;
  }

  .logo {
    margin-left: 150px;
  }

  .menu {
    display: block;
    float: right;
    margin-right: 150px;
  }

  nav {
    display: none;
  }

  #back_image {
    background-image: url("/Images/bottom.jpg.png");
    background-image: cover;
    max-width: 100%;
    margin-top: 56px;
    margin-left: 30px;
  }

  .heading {
    font-size: 48px;
    margin-top: 7rem;
    font-weight: 700;
    margin-left: 130px;
    color: #172b4d;
    animation: coloreffect 10s;
  }

  @keyframes coloreffect {
    from {
      color: aqua;
    }

    to {
      color: red;
    }
  }

  .heading span {
    display: contents;
  }

  .bio {
    margin-left: 130px;
    width: 55%;
    font-size: 16px;
  }

  .links {
    margin-left: 130px;
    font-size: 16px;
  }

  .project_one {
    flex-direction: row;
  }

  .project_one img {
    width: 544px;
    height: 448px;
  }

  .project_two {
    width: auto;
    height: auto;
    background: #fff;
    border-radius: 16px;
    border: 1px solid #def1e6;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .project_two img {
    width: 544px;
    height: 448px;
  }

  .name_des {
    width: 450px;
    margin: 10px 10px 10px 30px;
  }

  .nam {
    font-size: 40px;
  }

  .list {
    font-size: 18px;
    font-weight: 400;
    width: 8px;
    height: 8px;
    margin-bottom: 3px;
  }

  .title_des {
    font-size: 16px;
    width: 100%;
  }

  .about {
    flex-direction: row;
  }

  .about_one {
    margin: 40px 30px 80px 80px;
  }

  .about_one h3 {
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: rgba(57, 109, 242, 1);
    font-size: 14px;
  }

  .about_one ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .about_one p:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .about_one p:active {
    background-color: #2230d2;
  }

  .about_intro {
    width: 20rem;
    font-weight: 400;
    font-size: 11px;
    margin: 0 20px;
    font-family: 'Poppins', sans-serif;
    color: #344563;
  }

  .languages_skill {
    margin-top: 80px;
  }

  .skill_bars {
    display: flex;
    flex-direction: row;
  }

  .skill_bar {
    width: 84px;
    height: 100px;
    margin: 2px;
    padding: 3px;
    flex-direction: column;
  }

  .skill_text {
    font-size: 15px;
    margin-left: 1px;
  }

  .work_skill h3 {
    font-size: 15px;
  }

  .skill_bar img {
    width: 48px;
  }

  .work_skill img {
    width: 20px;
  }

  #about h3 {
    border-color: 1px solid red;
  }

  .bottom_image {
    background-image: url('Images/bottom_big.png');
    background-size: cover;
    max-width: 100%;
  }

  .contact_full {
    text-align: center;
  }

  .contact_me {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin-top: 80px;
    font-weight: 700;
  }

  .last_par {
    font-weight: 400;
    font-size: 20px;
    width: 50%;
    margin: 0 25%;
  }

  #input {
    width: 49%;
    border-radius: 0;
  }

  #textpanel {
    width: 49%;
    border-radius: 0;
  }

  .submit {
    border-radius: 10px;
  }
}
